<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Registration</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/register-teacher.css">
</head>
<body>

<div class="form-container">
    <h1>Teacher Registration</h1>

    <div id="success-message" class="success-message" th:if="${param.sucesso}">
        <p>Teacher successfully registered!</p>
    </div>

    <form action="/professores/salvar" method="post">
        <label for="nome">Name:</label>
        <input type="text" id="nome" name="nome" required>

        <div class="row">
            <div class="column">
                <label for="idade">Age:</label>
                <input type="number" id="idade" name="idade" required>
            </div>

            <div class="column">
                <label for="genero">Gender:</label>
                <input type="text" id="genero" name="genero" required>
            </div>

            <div class="column">
                <label for="altura">Height:</label>
                <input type="number" step="0.01" id="altura" name="altura" required>
            </div>
        </div>

        <label for="entidade">Entity:</label>
        <input type="text" id="entidade" name="entidade" required>

        <label for="materia">Subject:</label>
        <input type="text" id="materia" name="materia" required>

        <label for="eficiencia">Efficiency (separated by commas):</label>
        <input type="text" id="eficiencia" name="eficiencia" required>

        <label for="habilidades">Skills (separated by commas):</label>
        <input type="text" id="habilidades" name="habilidades" required>


        <div class="button-group">
            <button type="submit" class="btn-success">Register</button>
            <a href="/" class="btn-secondary">Back</a>
        </div>
    </form>
</div>

</body>
</html>
